In [1]:
#Installing libraries
%pip install streamlit
%pip install mysql.connector
%pip install plotly
%pip install os
%pip install gitpython

Requirement already satisfied: streamlit in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.26.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (5.1.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (1.6.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (5.3.1)
Requirement already satisfied: click<9,>=7.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: importlib-metadata<7,>=1.4 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (6.8.0)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (1.26.0)
Requirement already satisfied: packaging<24,>=16.8 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (23.1)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (2.1.1)
Requirement already satisfied: pillow<10,>=7.1.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (9.5.0)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (4.24.3)
Requirement already satisfied: pyarrow>=6.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (13.0.0)
Requirement already satisfied: pympler<2,>=0.9 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (1.0.1)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.18 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (13.5.3)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (8.2.3)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.1.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (4.8.0)
Requirement already satisfied: tzlocal<5,>=1.1 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (4.3.1)
Requirement already satisfied: validators<1,>=0.2 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (0.22.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (3.1.36)
Requirement already satisfied: pydeck<1,>=0.8 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (0.8.0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (6.3.3)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from streamlit) (3.0.0)
Requirement already satisfied: jinja2 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from altair<6,>=4.0->streamlit) (4.19.1)
Requirement already satisfied: toolz in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.10)
Requirement already satisfied: zipp>=0.5 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from importlib-metadata<7,>=1.4->streamlit) (3.17.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests<3,>=2.18->streamlit) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests<3,>=2.18->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests<3,>=2.18->streamlit) (2.0.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests<3,>=2.18->streamlit) (2023.7.22)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from rich<14,>=10.14.0->streamlit) (2.16.1)
Requirement already satisfied: pytz-deprecation-shim in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from tzlocal<5,>=1.1->streamlit) (0.1.0.post0)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.10.3)
Requirement already satisfied: mdurl~=0.1 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mysql.connector in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: plotly in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (5.17.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from plotly) (23.1)
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement os (from versions: none)
ERROR: No matching distribution found for os

Requirement already satisfied: gitpython in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.1.36)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gitpython) (4.0.10)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gitdb<5,>=4.0.1->gitpython) (5.0.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import mysql.connector as sql
import streamlit as st
import plotly.express as px
import os
import json
from PIL import Image

In [2]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
Updating files:  78% (3820/4887)
Updating files:  79% (3861/4887)
Updating files:  80% (3910/4887)
Updating files:  81% (3959/4887)
Updating files:  82% (4008/4887)
Updating files:  83% (4057/4887)
Updating files:  84% (4106/4887)
Updating files:  85% (4154/4887)
Updating files:  86% (4203/4887)
Updating files:  87% (4252/4887)
Updating files:  88% (4301/4887)
Updating files:  89% (4350/4887)
Updating files:  90% (4399/4887)
Updating files:  91% (4448/4887)
Updating files:  92% (4497/4887)
Updating files:  93% (4545/4887)
Updating files:  94% (4594/4887)
Updating files:  95% (4643/4887)
Updating files:  96% (4692/4887)
Updating files:  97% (4741/4887)
Updating files:  98% (4790/4887)
Updating files:  99% (4839/4887)
Updating files: 100% (4887/4887)
Updating files: 100% (4887/4887), done.

In [ ]:
DATA TRANSFORMATION

In [3]:
# Dataframe of aggregated Transactions
path1 ="pulse-1/data/aggregated/transaction/country/india/state/"
agg_trans_list = os.listdir(path1)

columns1 = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_type': [], 'Transaction_count': [],
            'Transaction_amount': []}
for state in agg_trans_list:
    cur_state = path1 + state + "/"
    agg_year_list = os.listdir(cur_state)

    for year in agg_year_list:
        cur_year = cur_state + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            A = json.load(data)

            for i in A['data']['transactionData']:
                name = i['name']
                count = i['paymentInstruments'][0]['count']
                amount = i['paymentInstruments'][0]['amount']
                columns1['Transaction_type'].append(name)
                columns1['Transaction_count'].append(count)
                columns1['Transaction_amount'].append(amount)
                columns1['State'].append(state)
                columns1['Year'].append(year)
                columns1['Quarter'].append(int(file.strip('.json')))

df_agg_trans = pd.DataFrame(columns1)

In [4]:
df_agg_trans.shape

(3954, 6)

In [5]:
# data frame of aggregated user
path2 ="pulse-1/data/aggregated/user/country/india/state/"
agg_user_list = os.listdir(path2)

columns2 = {'State': [], 'Year': [], 'Quarter': [], 'Brands': [], 'Count': [],
            'Percentage': []}
for state in agg_user_list:
    cur_state = path2 + state + "/"
    agg_year_list = os.listdir(cur_state)

    for year in agg_year_list:
        cur_year = cur_state + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            B = json.load(data)
            try:
                for i in B["data"]["usersByDevice"]:
                    brand_name = i["brand"]
                    counts = i["count"]
                    percents = i["percentage"]
                    columns2["Brands"].append(brand_name)
                    columns2["Count"].append(counts)
                    columns2["Percentage"].append(percents)
                    columns2["State"].append(state)
                    columns2["Year"].append(year)
                    columns2["Quarter"].append(int(file.strip('.json')))
            except:
                pass
df_agg_user = pd.DataFrame(columns2)

In [6]:
df_agg_user

                          State  Year  Quarter   Brands    Count  Percentage
0     andaman-&-nicobar-islands  2018        1   Xiaomi     1665    0.247033
1     andaman-&-nicobar-islands  2018        1  Samsung     1445    0.214392
2     andaman-&-nicobar-islands  2018        1     Vivo      982    0.145697
3     andaman-&-nicobar-islands  2018        1     Oppo      501    0.074332
4     andaman-&-nicobar-islands  2018        1  OnePlus      332    0.049258
...                         ...   ...      ...      ...      ...         ...
6727                west-bengal  2022        1   Lenovo   330017    0.015056
6728                west-bengal  2022        1  Infinix   284678    0.012987
6729                west-bengal  2022        1     Asus   280347    0.012790
6730                west-bengal  2022        1    Apple   277752    0.012671
6731                west-bengal  2022        1   Others  2196334    0.100199

[6732 rows x 6 columns]

In [7]:
# Data frame of map transactions
path3 ="pulse-1/data/map/transaction/hover/country/india/state/"

map_trans_list = os.listdir(path3)

columns3 = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Count': [],
            'Amount': []}

for state in map_trans_list:
    cur_state = path3 + state + "/"
    map_year_list = os.listdir(cur_state)

    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            C = json.load(data)

            for i in C["data"]["hoverDataList"]:
                district = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                columns3["District"].append(district)
                columns3["Count"].append(count)
                columns3["Amount"].append(amount)
                columns3['State'].append(state)
                columns3['Year'].append(year)
                columns3['Quarter'].append(int(file.strip('.json')))

df_map_trans = pd.DataFrame(columns3)

In [8]:
df_map_trans

,State,Year,Quarter,District,Count,Amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
16095,west-bengal,2023,2,nadia district,26194658,5.410386e+10
16096,west-bengal,2023,2,birbhum district,14912523,2.941312e+10
16097,west-bengal,2023,2,purba medinipur district,30724502,6.595899e+10
16098,west-bengal,2023,2,maldah district,24677357,5.218621e+10
16099,west-bengal,2023,2,darjiling district,13049366,2.372866e+10

In [9]:
# Data frame of map user
path4 = "pulse-1/data/map/user/hover/country/india/state/"

map_user_list = os.listdir(path4)

columns4 = {"State": [], "Year": [], "Quarter": [], "District": [],
            "RegisteredUser": [], "AppOpens": []}

for state in map_user_list:
    cur_state = path4 + state + "/"
    map_year_list = os.listdir(cur_state)

    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            D = json.load(data)

            for i in D["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appOpens = i[1]['appOpens']
                columns4["District"].append(district)
                columns4["RegisteredUser"].append(registereduser)
                columns4["AppOpens"].append(appOpens)
                columns4['State'].append(state)
                columns4['Year'].append(year)
                columns4['Quarter'].append(int(file.strip('.json')))

df_map_user = pd.DataFrame(columns4)

In [10]:
df_map_user

,State,Year,Quarter,District,RegisteredUser,AppOpens
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
16099,west-bengal,2023,2,nadia district,1482400,9509833
16100,west-bengal,2023,2,birbhum district,934943,12789154
16101,west-bengal,2023,2,purba medinipur district,1468608,12096564
16102,west-bengal,2023,2,maldah district,1046132,17662446
16103,west-bengal,2023,2,darjiling district,613398,15141713

In [11]:
# Data frame of top transactions
path5 = "pulse-1/data/top/transaction/country/india/state/"

top_trans_list = os.listdir(path5)
columns5 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [],
            'Transaction_amount': []}

for state in top_trans_list:
    cur_state = path5 + state + "/"
    top_year_list = os.listdir(cur_state)

    for year in top_year_list:
        cur_year = cur_state + year + "/"
        top_file_list = os.listdir(cur_year)

        for file in top_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            E = json.load(data)

            for i in E['data']['pincodes']:
                name = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']
                columns5['Pincode'].append(name)
                columns5['Transaction_count'].append(count)
                columns5['Transaction_amount'].append(amount)
                columns5['State'].append(state)
                columns5['Year'].append(year)
                columns5['Quarter'].append(int(file.strip('.json')))
df_top_trans = pd.DataFrame(columns5)

In [12]:
df_top_trans

,State,Year,Quarter,Pincode,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,744101,1622,2.769298e+06
1,andaman-&-nicobar-islands,2018,1,744103,1223,2.238042e+06
2,andaman-&-nicobar-islands,2018,1,744102,969,3.519060e+06
3,andaman-&-nicobar-islands,2018,1,744105,685,1.298561e+06
4,andaman-&-nicobar-islands,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
7848,west-bengal,2023,2,700001,2918444,6.259877e+09
7849,west-bengal,2023,2,721301,2910870,4.458107e+09
7850,west-bengal,2023,2,700039,2886562,4.662887e+09
7851,west-bengal,2023,2,700015,2774383,4.372975e+09
7852,west-bengal,2023,2,700014,2757479,5.108638e+09

In [13]:
# Data frame of top users
path6 = "pulse-1/data/top/user/country/india/state/"
top_user_list = os.listdir(path6)
columns6 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [],
            'RegisteredUsers': []}

for state in top_user_list:
    cur_state = path6 + state + "/"
    top_year_list = os.listdir(cur_state)

    for year in top_year_list:
        cur_year = cur_state + year + "/"
        top_file_list = os.listdir(cur_year)

        for file in top_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            F = json.load(data)

            for i in F['data']['pincodes']:
                name = i['name']
                registeredUsers = i['registeredUsers']
                columns6['Pincode'].append(name)
                columns6['RegisteredUsers'].append(registeredUsers)
                columns6['State'].append(state)
                columns6['Year'].append(year)
                columns6['Quarter'].append(int(file.strip('.json')))
df_top_user = pd.DataFrame(columns6)

In [14]:
df_top_user

                          State  Year  Quarter Pincode  RegisteredUsers
0     andaman-&-nicobar-islands  2018        1  744103             1608
1     andaman-&-nicobar-islands  2018        1  744101             1108
2     andaman-&-nicobar-islands  2018        1  744105             1075
3     andaman-&-nicobar-islands  2018        1  744102             1006
4     andaman-&-nicobar-islands  2018        1  744104              272
...                         ...   ...      ...     ...              ...
7849                west-bengal  2023        2  700015           117690
7850                west-bengal  2023        2  742304           114746
7851                west-bengal  2023        2  721101           114293
7852                west-bengal  2023        2  700150           110694
7853                west-bengal  2023        2  700091           110637

[7854 rows x 5 columns]

In [15]:
# Coverting Data frames to csv files
df_agg_trans.to_csv('agg_trans.csv',index=False)
df_agg_user.to_csv('agg_user.csv',index=False)
df_map_trans.to_csv('map_trans.csv',index=False)
df_map_user.to_csv('map_user.csv',index=False)
df_top_trans.to_csv('top_trans.csv',index=False)
df_top_user.to_csv('top_user.csv',index=False)

In [17]:
%pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\tonia\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   ------------------ --------------------- 20.5/44.8 kB 217.9 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/44.8 kB 326.8 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/44.8 kB 326.8 kB/s eta 0:00:01
   ---------------------------------------- 44.8/44.8 kB 219.9 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Creating connection with MySQL
# Connecting with SQL
import mysql.connector as sql
mydb = sql.connect(host="localhost", #127.0.0.1
                   user="root",
                   password="Adrielsheena@03",
                   port="3306",
                   database= "phonepe_pulse",
                   auth_plugin="mysql_native_password"
                  )
mycursor = mydb.cursor(buffered=True)

In [2]:
print (mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001D56E6BD310>

In [3]:
mycursor.execute("USE phonepe_pulse")

In [ ]:
# Creating agg_trans table
mycursor.execute("create table agg_trans (State varchar(100), Year int, Quarter int, Transaction_type varchar(100), Transaction_count int, Transaction_amount double)")

for i,row in df_agg_trans.iterrows():
    #here %S means string values 
    sql = "INSERT INTO agg_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    # the connection is not auto committed by default, so we must commit to save our changes
    mydb.commit()

In [ ]:
# Creating agg_user table
mycursor.execute("create table agg_user (State varchar(100), Year int, Quarter int, Brands varchar(100), Count int, Percentage double)")

for i,row in df_agg_user.iterrows():
    sql = "INSERT INTO agg_user VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [ ]:
# Creating map_trans table
mycursor.execute("create table map_trans (State varchar(100), Year int, Quarter int, District varchar(100), Count int, Amount double)")

for i,row in df_map_trans.iterrows():
    sql = "INSERT INTO map_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [ ]:
# Creating map_user table
mycursor.execute("create table map_user (State varchar(100), Year int, Quarter int, District varchar(100), Registered_user int, App_opens int)")

for i,row in df_map_user.iterrows():
    sql = "INSERT INTO map_user VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [13]:
# Creating top_trans table
mycursor.execute("create table top_trans (State varchar(100), Year int, Quarter int, Pincode int, Transaction_count int, Transaction_amount double)")

for i,row in df_top_trans.iterrows():
    sql = "INSERT INTO top_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

NameError: name 'df_top_trans' is not defined

In [14]:
# Creating top_user table
mycursor.execute("create table top_user (State varchar(100), Year int, Quarter int, Pincode int, Registered_users int)")

for i,row in df_top_user.iterrows():
    sql = "INSERT INTO top_user VALUES (%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

NameError: name 'df_top_user' is not defined

In [15]:
# List of tables
mycursor.execute("show tables")
mycursor.fetchall()

[('agg_trans',),
 ('agg_user',),
 ('map_trans',),
 ('map_user',),
 ('top_trans',),
 ('top_user',)]